@*@if (Session["username"] == null)*@
@if (!Request.IsAuthenticated) //check with form authentication
{
    <a href="/users/login">Login</a>
    <a href="/users/register"> Register </a>
    <a href="/users/forgetpwd">Forget Password?</a>
}
else
{
    //var kx = Session["username"];
    <a href="/users/logout"> Logout </a> <p>Helo</p>
}