
@if (Session["username"] != null)
{
    <a href="/users/login">Login</a>
    <a href="/users/register"> Register </a>
    <a href="/users/forgetpwd">Forget Password?</a>
}
else
{
    <a href="/users/logout"> Logout </a> 
}
