<div class="jumbotron">
    <h1>Album Page</h1>

    <input type="text" ng-model="q" placeholder="Search" />
    Rating : <select ng-model="ax" ng-change="AlbumFilter(ax)">
        <option ng-repeat="author in Authors" value="{{author.AuthorID}}" ng-selected="author.AuthorID==Album.AlbumID">{{author.Name}}</option>
    </select>

    <table id="example" class="display table" cellspacing="0" ng-show="!loading">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Release Date</th>
                <th>Rating</th>
                <th>Enable</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="x in Albums | filter:q | itemsPerPage: pageSize" current-page="currentPage" pagination-id="drinksPagination">
                <td>{{x.AlbumID}}</td>
                <td>{{x.Name}}</td>
                <td>{{x.ReleaseDate}}</td>
                <td>{{x.Rating}}</td>
                <td>{{x.IsEnable}}</td>
                <td>
                    <a href="#!/album-edit?id={{x.AlbumID}}">Edit</a>
                    <a href="#!/album" ng-click="DeleteAlbum(x.AlbumID)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center" ng-show="!loading">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="pages/dirPagination.tpl.html" pagination-id="drinksPagination"></dir-pagination-controls>
    </div>

    <div ng-show="loading" class="loading">
        <img src="../../Images/loading.gif" style="width:120px" />
    </div>
    <h3>
        <a href="#!/album-edit?id=-1">Add New</a>
    </h3>
</div>

<style>
    th {
        text-align: center;
    }
</style>