
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Student Details :</h2>
<div ng-controller="stuCntr">
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <input type="submit" value="Add Student" ng-click="AddNewStudent()" />
    <div id="dvStudnetDetails">
        <table cellpadding="12" class="table table-bordered table-hover">
            <tr>
                <td>
                    <b></b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>Release Date</b>
                </td>
                <td>
                    <b>Rating</b>
                </td>
                <td>
                    <b>Enable</b>
                </td>
            </tr>
            <tr ng-repeat="stu in students">
                <td ng-show="aa">

                    {{stu.Id}}


                </td>
                <td>

                    {{$index+1}}


                </td>
                <td ng-show="a">
                    <input type="text" ng-model="stu.StudentName" />
                </td>
                <td ng-hide="a">

                    {{stu.StudentName}}


                </td>
                <td ng-show="a">
                    <input type="text" ng-model="stu.StudentAddress" />
                </td>
                <td ng-hide="a">

                    {{stu.StudentAddress}}


                </td>
                <td ng-show="a">
                    <input type="text" ng-model="stu.StudentEmail" />
                </td>
                <td ng-hide="a">

                    {{stu.StudentEmail}}


                </td>
                <td>
                    <span ng-hide="a" ng-click="a=!a">Edit</span>
                    <span ng-show="a" ng-click="a=!a">Cancel</span>
                    <span ng-show="a" ng-click="UpdateStudent(stu)">Update</span>
                    <span ng-click="deleteStudent(stu,$index)">Delete</span>
                </td>
            </tr>
        </table>
    </div>
    <div id="dvAddStudnet" ng-show="dvStudent">
        <p class="dvTask">{{Action}} New Student</p>
        <table>
            <tr>
                <td>Name : </td>
                <td>
                    <input type="text" id="txtName" ng-model="student.StudentName" />
                </td>
            </tr>
            <tr>
                <td>Email : </td>
                <td>
                    <input type="text" id="txtEmail" ng-model="student.StudentEmail" />
                </td>
            </tr>
            <tr>
                <td>Address : </td>
                <td>
                    <input type="text" id="txtAddress" ng-model="student.StudentAddress" />
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit" ng-click="AddStudnet(student)" />
    </div>
</div>  